*.log
*.egg-info
*.pot
*.py[co]
*.pyc
.tox/
*/.DS_Store
.DS_Store
img/
images/
media/
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
*.json
.idea/Nocaffeine.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
*.sqlite3
