*.log
*.egg-info
*.pot
*.py[co]
*.pyc
.tox/
*/.DS_Store
.DS_Store
static/images/
images/
media/
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
*.json
db.sqlite3
