{% extends "pledge/layout.html" %}
{% load socialaccount %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

            <h3>소셜 로그인</h3>
            <ul class="social_login" style="list-style: none;">
                {% for provider in providers %}
                    <li class={{provider.name}}>
                        {% if provider.social_app %}
                            <a href="{% provider_login_url provider.id %}" class={{provider.name}}>
                                <strong>{{ provider.name }} 로그인 </strong>
                            </a>
                        {% else %}
                            <a>
                                Provider {{ provider.name }} 설정이 필요합니다.
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>
{% endblock %}

