.pledge_detail{

    top:0;
    margin:0 auto;
    height:100%;
    text-align:center;
}

.propic {
    overflow:hidden;
    max-width:180px;
}

#search {
    max-width:600px;
    border-radius: 5px;
    text-align: left;
}
.dropdown{
    display:inline-block;
}
.category-dropdown {
    display:inline-block;
}
.form-control {
    display:inline-block;
}
.category-dropdown a:hover, .dropdown-menu>li>a:hover{
    color:blue;
}
#search button.btn.btn-primary {
    right:-10px;
    background-color: blue;
    border-radius: 0 5px 5px 0;
    height:100%;
}
/*.row {
    height:500px;
    background-image: url(../img/slider/sunset.jpg);
    background-size:cover;
}*/
.user-account {
    background-color: #fff;
}
.social_login li{
    height:30px;
    margin-bottom:20px;
    border-radius: 7px;
}
.Kakao {
    background-color: rgb(250, 250, 0);
}
.Naver {
    background-color:#1EDC00;
}
