{% extends "pledge/layout.html" %}

{% block content %}
    <div class="infinite-container" style="min-height: 100%;"><!-- 페이지네이션된 항목들이 표시될 컨테이너 /.infinite-more-link가 화면에 뜰 때마다 로딩된다.-->
        <div class="infinite-item"> <!-- 표시될 항목 -->
            <div class='container'>
                <div class="congressman-list-row" style="margin:0 auto;">
                    {% for congressman in congressmans %}
                        {% load staticfiles %}
                        <a href="{% url 'pledge:congressman_detail' congressman.id %}" style="color:#000;">
                            <div class="col-xs-6 col-sm-4" id="wood-bar">
                                <div class="congressman-profile-image" style="float:left; margin-right:10px;margin-top:20px; ">
                                    <img src="{% static congressman.profile_image_path %}" class="img-rounded" alt="CongressMan" width="120" height="120">
                                </div><!-- /.congressman-profile-image -->
                                <div class="congressman-profile" style="margin-top:20px;">
                                    이름 : {{ congressman.name }} <br>
                                    소속 : {{ congressman.party }} <br>
                                    선거구 : {{ congressman.constituency }} <br>
                                    이메일 : {{ congressman.email }}
                                </div><!-- /.congressman-profile -->
                            </div><!-- #wood-bar -->
                        </a>
                    {% endfor %}
                </div><!-- /.congrssman-list-row -->
            </div><!-- /.container -->
        </div><!-- /.infinite-item -->
    </div><!-- /.infinite-container -->

    {% if congressmans.has_next %}
        <!-- 다음페이지가 없을때까지 .infinite-more-link 표시-->
        <a class="infinite-more-link" href="?page={{ congressmans.next_page_number }}">More</a>
    {% endif %}

    <div class="loading" style="display: none;">
        Loading...
    </div><!-- /.loading -->

    <script>
        {% load staticfiles %}

        var infinite = new Waypoint.Infinite({
          element: $('.infinite-container')[0],
          onBeforePageLoad: function () {
            $('.loading').show();
          },
          onAfterPageLoad: function ($items) {
            $('.loading').hide();
          }
        });
    </script>
{% endblock %}
