{% extends "pledge/layout.html" %}
{% block content %}

<div class="container">
        <!-- ===========================
        HEADER
        ============================ -->
        <div id="header" class="row">
            {% load staticfiles %}
            <div class="col-sm-2">
                <img class="propic img-rounded" src="{% static congressman.profile_image_path %}" alt="">
            </div>
            <!-- photo end-->

            <div class="col-sm-10">
                <div class="cv-title">
                    <div class="row">
                        <div class="col-sm-7">
                            <h1>{{ congressman }}</h1>
                        </div>

                    </div>
                    <h2>국회의원</h2>
                </div><!-- Title end-->

                <!-- ===========================
                국회의원 정보
                ============================ -->
                <div class="row">
                    <div class="col-sm-4">
                        <ul class="list-unstyled">
                            <li><a href=""><span class="social fa fa-home"></span>{{congressman.party}}</a>
                            </li>
                        </ul>
                    </div><!-- 정당 -->

                    <div class="col-sm-4">
                        <ul class="list-unstyled">
                            <li><a href=""><span class="social fa fa-cloud"></span>{{congressman.constituency}}</a>
                            </li>
                        </ul>
                    </div><!-- 선거구 -->

                    <div class="col-sm-4">
                        <ul class="list-unstyled">
                            <li><a href="mailto:support@evenfly.com"><span class="social fa fa-envelope-o"></span>{{congressman.email}}</a></li>
                        </ul>
                    </div><!-- 이메일 -->
                    </hr>
                    <div class="col-sm-12">
                    <ul class="list-unstyled">
                    <li><a href=""><span class="social fa fa-facebook"></span>{{congressman.description}}</a></li>
                    </ul>
                    </div><!-- 설명 -->
                </div><!-- 국회의원 정보 end-->
            </div>
        </div><!-- 사진+정보 end -->

        <hr class="firsthr">

        <!-- ===========================
        BODY LEFT PART
        ============================ -->
        <div class="col-md-8 mainleft">
            <div id="statement">
            <span class="secicon fa fa-user"><strong style="font-size: 25px;">공약</strong></span>

                <table class="table-responsive">
                    <table class="table">
                        <tr class="success">
                            <td ><strong>공약 번호</strong></td>
                            <!-- 국회의원별로 공약이 안 나눠져 있어 번호혼동됨 -->
                            <td><strong>공약 제목</strong></td>
                            <td><strong>공약 설명</strong></td>
                            <td><strong>진행 상태</strong></td>
                        </tr><!-- 첫번째 행 -->


                        {% for pledge in congressman.pledge_set.all %}
                        <tr>
                            <td>{{pledge.pk}}</td>
                            <td><a href="{% url 'pledge:pledge_detail' pledge.id %}">{{ pledge.title }}</a></td>
                            <td>{{pledge.description|truncatechars:10}}</td>
                            <td>{{pledge.status}}</td>
                        </tr><!-- 두번째 행 -->

                    {% endfor%}
                    </table>
                </table>
            </div>
        </div><!--pledge end-->


        <!-- ===========================
        BODY RIGHT PART
        =========================== -->
        <div class="col-md-4 mainright">
            <div class="row">
                <div class="col-sm-1 col-md-2 mobmid">
                    <span class="secicon fa fa-magic"></span>
                </div><!--icon end-->

                <div class="col-sm-11 col-md-10">
                    <h3 class="mobmid">공약 신뢰도 </h3>

                    <p>미시행 공약</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ pledge_status.not_enforcement }}%">
                            <span class="sr-only">60% Complete (warning)</span>
                        </div>
                    </div><!--skill end-->

                    <p>진행 중</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: {{ pledge_status.progress }}%">
                            <span class="sr-only">85% Complete</span>
                        </div>
                    </div><!--skill end-->

                    <p>진행 완료</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: {{ pledge_status.complete }}%">
                            <span class="sr-only">65% Complete (success)</span>
                        </div>
                    </div><!--skill end-->

                    <p>시행 실패</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{ pledge_status.failed }}%">
                            <span class="sr-only">30% Complete (danger)</span>
                        </div>
                    </div><!--skill end-->
                </div><!--info end-->
            </div><!--tech skills end-->

            <hr>

            <div class="row mobmid">
                <div class="col-sm-1 col-md-2">
                    <span class="secicon fa fa-trophy"></span>
                </div><!--icon end-->

                <div class="col-sm-11 col-md-10 ">
                    <h3>Awards</h3>

                    <div class="award">
                        <h4>Best Designer 2012</h4>
                        <p class="sub"><a href="">Life View Media Ltd.</a></p>
                        <p>Studying all aspect of Graphic Design Including Advertising Design, Branding, Copy Exhibition Design, Ilustration.</p>
                    </div>
                    <!--1st award end-->

                </div><!--awards end-->

            </div>

            <hr>

        </div><!--right end-->
</div>

{% endblock %}
