{% extends "pledge/layout.html" %}

{% block content %}
<div class='container'>
    <div class="congressman-list-row" style="margin:0 auto;">
        {% for congressman in congressman_list %}
            {% load staticfiles %}
            <a href="{% url 'pledge:congressman_detail' congressman.id %}" style="color:#000;">
                <div class="col-xs-6 col-sm-4" id="wood-bar">
                    <div class="congressman-profile-image" style="float:left; margin-right:20px;margin-top:20px;">
                        <img src="{% static congressman.profile_image_path %}" class="img-rounded" alt="Cinque Terre" width="120" height="120">
                    </div>
                    <div class="congressman-profile" style="margin-top:20px;">
                        이름 : {{ congressman.name }} <br>
                        소속 : {{ congressman.party }} <br>
                        선거구 : {{ congressman.constituency }} <br>
                        이메일 : {{ congressman.email }}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div><!-- .congressman_list_row -->
</div><!-- .container-fluid -->
{% endblock %}
