{% extends 'pledge/layout.html' %}
{% block content %}
<div class='container'>
    <table class='table table-striped' style='margin-top: 50px;'>
        <thead>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>날짜</th>
            <th>조회수</th>
        </thead>
        <tbody>
            <tr>
                <td>asasd</td>
                <td>asasd</td>
                <td>asasd</td>
            </tr>
            <tr>
                <td>asdd</td>
                <td>asdd</td>
                <td>asdd</td>
                <td>asdd</td>
            </tr>
            <tr>
                <td>asdd</td>
                <td>asdd</td>
                <td>asdd</td>
                <td>asdd</td>
            </tr>
        </tbody>
    </table>

    <hr/>
    <a class='btn btn-default pull-right'>글쓰기</a>

    <div class='text-center'>
        <ul class='pagination'>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>
</div>
{% endblock %}
