{% extends "pledge/layout.html" %}

    {% block content %}
    	<!-- SLIDER -->
    	<!-- <section id="slider"> -->
    		<div id="home-carousel" class="carousel slide" data-ride="carousel">
    			<div class="carousel-inner">
    				<div class="item active" style="background-image: url(static/pledge/img/slider/sunset.jpg)">
    					<div class="carousel-caption container">
    						<div class="row">
    							<div class="col-sm-7">
    								<h1><strong>공약검증사이트</strong></h1>
    								<h3>Verify the politicians' pledges.</h3>
    								<p></p>
    							</div>
    						</div>
    					</div>
    				</div>

    <!--
    				<a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    				<a class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a> -->
    			</div>
    		</div> <!--/#home-carousel-->
        <!-- </section> -->
    	<!-- /SLIDER -->


    	<!-- SERVICES -->
    	<section id="services">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<div class="section-title">
    						<h1 style="text-align:center;">Services</h1>
    						<span class="st-border" style="margin: 0 auto;"></span>
    					</div>
    				</div>

    				<div class="col-md-4 col-sm-6 st-service">
    					<h2><i class="fa fa-desktop" style="font-size: 25px; color:green;"></i> PLEDGE 소개</h2>
    					<p><b>PLEDGE는 정치인들의 공약을 정당별, 지역별로 확인하고 우리가 스스로 검증할 수 있는 사이트입니다.</b><br>

                            대부분의 정치인들이 수많은 공약들과 함께 3~4선으로 의원직을 수행하고 있습니다. 하지만 우리들 대부분은 그들의 공약은 커녕, 우리 지역의 국회의원이 누구인지도 모르고 지내고 있습니다. 이제는 우리가 더 관심을 가져야 할 때입니다. 앞 선 소개에서 밝혔듯, 그 목적을 달성하기 위해 이 사이트가 만들어졌습니다. 이 사이트는 우리 지역의 정치인들이 누구인지, 그들의 공약은 잘 실천되고 있는지 검증하는 사이트입니다.</p>
    				</div>

    				<div class="col-md-4 col-sm-6 st-service">
    					<h2><i class="fa fa-cogs"></i> Web Developement</h2>
    					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta libero autem, magni veritatis, optio dolor.</p>
    				</div>

    				<div class="col-md-4 col-sm-6 st-service">
    					<h2><i class="fa fa-code"></i> Custom Development</h2>
    					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta libero autem, magni veritatis, optio dolor.</p>
    				</div>

    				<!-- <div class="col-md-4 col-sm-6 st-service">
    					<h2><i class="fa fa-dashboard"></i> Super Fast Web</h2>
    					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta libero autem, magni veritatis, optio dolor.</p>
    				</div>

    				<div class="col-md-4 col-sm-6 st-service">
    					<h2><i class="fa fa-life-ring"></i> Friendly Support</h2>
    					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta libero autem, magni veritatis, optio dolor.</p>
    				</div>

    				<div class="col-md-4 col-sm-6 st-service">
    					<h2><i class="fa fa-weixin"></i> Live Support</h2>
    					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta libero autem, magni veritatis, optio dolor.</p>
    				</div> -->
    			</div>
    		</div>
    	</section>
    	<!-- /SERVICES -->
    {% endblock %}



