{% extends "pledge/layout.html" %}

    {% block content %}
    	<!-- SLIDER -->
    	<!-- <section id="slider"> -->
    		<div id="home-carousel" class="carousel slide" data-ride="carousel">
    			<div class="carousel-inner">
    				<div class="item active" style="background-image: url(images/slider/sunset.jpg)">
    					<div class="carousel-caption container">
    						<div class="row">
    							<div class="col-sm-7">
    								<h1><strong>공약검증사이트</strong></h1>
    								<h3>Verify the politicians' pledges.</h3>
    								<p></p>
    							</div>
    						</div>
    					</div>
    				</div>

    <!--
    				<a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    				<a class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a> -->
    			</div>
    		</div> <!--/#home-carousel-->
        <!-- </section> -->
    	<!-- /SLIDER -->


    	<!-- SERVICES -->
    	<section id="services">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<div class="section-title">
    						<h1 style="text-align:center;">Services</h1>
    						<span class="st-border" style="margin: 0 auto;"></span>
    					</div>
    				</div>

    				<div class="col-md-4 col-sm-6 st-service">
    					<h2><i class="fa fa-desktop" style="font-size: 25px; color:green;"></i> 사이트 소개</h2>
    					<p>정치인들의 공약을 정당별, 지역별로 확인하고 국민들 스스로 검증을 할 수 있는 사이트입니다.</p>
    				</div>

    				<div class="col-md-4 col-sm-6 st-service">
    					<h2><i class="fa fa-cogs"></i> Web Developement</h2>
    					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta libero autem, magni veritatis, optio dolor.</p>
    				</div>

    				<div class="col-md-4 col-sm-6 st-service">
    					<h2><i class="fa fa-code"></i> Custom Development</h2>
    					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta libero autem, magni veritatis, optio dolor.</p>
    				</div>

    				<!-- <div class="col-md-4 col-sm-6 st-service">
    					<h2><i class="fa fa-dashboard"></i> Super Fast Web</h2>
    					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta libero autem, magni veritatis, optio dolor.</p>
    				</div>

    				<div class="col-md-4 col-sm-6 st-service">
    					<h2><i class="fa fa-life-ring"></i> Friendly Support</h2>
    					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta libero autem, magni veritatis, optio dolor.</p>
    				</div>

    				<div class="col-md-4 col-sm-6 st-service">
    					<h2><i class="fa fa-weixin"></i> Live Support</h2>
    					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta libero autem, magni veritatis, optio dolor.</p>
    				</div> -->
    			</div>
    		</div>
    	</section>
    	<!-- /SERVICES -->
    {% endblock %}



