{% extends "pledge/layout.html" %}
{% block content %}

<!-- <div style="border:1px solid red;  width:500px;display:inline-block;">
{% load staticfiles %}
    <div class="congressman" style="float:left;">
        <img src="{% static pledge.congressman.profile_image_path %}" class="img-rounded" alt="Cinque Terre" width="120" height="120" >
    </div>
    <div >
        이름 : {{ pledge.congressman.name }} <br>
        소속 : {{ pledge.congressman.party }} <br>
        선거구 : {{ pledge.congressman.constituency }} <br>
        이메일 : {{ pledge.congressman.email }}
    </div>
</div> -->
<div class="container">
        <!-- ===========================
        HEADER
        ============================ -->
        <div id="header" class="row">
            {% load staticfiles %}
            <div class="col-sm-2" style="overflow:hidden;">
                <img class="propic img-rounded" src="{% static pledge.congressman.profile_image_path %}" alt="">
            </div>
            <!-- photo end-->

            <div class="col-sm-10">
                <div class="cv-title">
                    <div class="row">
                        <div class="col-sm-7">
                            <h1>{{pledge.congressman}}</h1>
                        </div>

                    </div>
                    <h2>국회의원</h2>
                </div><!-- Title end-->

                <!-- ===========================
                SOCIAL & CONTACT
                ============================ -->
                <div class="row">
                    <div class="col-sm-4">
                        <ul class="list-unstyled">
                            <li><a href=""><span class="social fa fa-home"></span>{{pledge.congressman.party}}</a>
                            </li>
                            <li><a href=""><span class="social fa fa-facebook"></span>{{pledge.congressman.description}}</a>


                        </ul>
                    </div><!-- social 1st col end-->

                    <div class="col-sm-4">
                        <ul class="list-unstyled">
                            <li><a href=""><span class="social fa fa-skype"></span>{{pledge.congressman.constituency}}</a>

                            </li>
                            <li><a href=""><span class="social fa fa-twitter"></span>Twitter</a>
                            </li>
                            <li><a href=""><span class="social fa fa-linkedin"></span>Linkedin</a>
                            </li>
                        </ul>
                    </div><!-- social 2nd col end-->

                    <div class="col-sm-4">
                        <ul class="list-unstyled">
                            <li><a href="mailto:support@evenfly.com"><span class="social fa fa-envelope-o"></span>{{pledge.congressman.email}}</a>
                            <li><a href=""><span class="social fa fa-dribbble"></span>Dribbble</a>
                            </li>
                            <li><a href=""><span class="social fa fa-instagram"></span>Instagram</a>
                            </li>
                        </ul>
                    </div><!-- social 3rd col end-->
                </div><!-- header social end-->
            </div><!-- header right end-->
        </div><!-- header end-->

        <hr class="firsthr">

<!-- <div>
    공약 이름 : {{ pledge.title }}</br>
    공약 상태 : {{ pledge.status }} </br>
    공약 내용 : {{ pledge.description }} </br>
    공약 날짜 : {{ pledge.created_at }} </br>
</div> -->

<div class="col-md-8 mainleft" style="background-color:#fff;">
            <div id="statement" class="row mobmid">
                <div class="col-sm-1">
                    <span class="secicon fa fa-user"></span>
                </div><!--icon end-->

                <div class="col-sm-11">
                    <h3>공약상세내용</h3>
                </div><!--info end-->
            </div><!--personal statement end-->
            <hr>

            <div id="education" class="row mobmid">
                <div class="col-sm-1">
                    <span class="secicon fa fa-graduation-cap"></span>
                </div><!--icon end-->

                <div class="col-sm-11">
                    <h3>공약이름 : {{ pledge.title }}</h3>

                    <div class="row">
                        <div class="col-md-9">
                            <h4>공약상태 : {{ pledge.status }}</h4>
                            <p class="sub"><a href="">- 공약내용</a>
                            </p>
                            <p>{{ pledge.description }}</p>
                        </div>

                        <div class="year col-md-3">
                            <p>{{ pledge.created_at }}</p>
                        </div>
                    </div><!--Education & Certification 1 end-->

                    <hr>

                    <div class="row">
                        <div class="col-md-9">
                            <h4>BSc in Graphic Design</h4>
                            <p class="sub"><a href="">Ideal Institute of Science and Technology</a>
                            </p>
                            <p>Studying all aspect of Graphic Design Including Advertising Design, Branding, Copy Exhibition Design, Ilustration, Information Design, Packaging Design and Website Design</p>
                        </div>

                        <div class="year col-md-3">
                            <p>2006-2009</p>
                        </div>
                    </div><!--Education & Certification 2 end-->

                    <hr>

                    <div class="row">
                        <div class="col-md-9">
                            <h4>Diploma in Graphic Design</h4>
                            <p class="sub"><a href="">Ideal Institute of Science and Technology</a>
                            </p>
                            <p>Studying all aspect of Graphic Design Including Advertising Design, Branding, Copy Exhibition Design, Ilustration, Information Design, Packaging Design and Website Design</p>
                        </div>

                        <div class="year col-md-3">
                            <p>2003-2006</p>
                        </div>
                    </div><!--Education & Certification 3 end-->
                </div>
            </div><!--Education & Certifications end-->



            <!-- ===========================
            JOB EXPERIENCES
            ============================ -->

        </div><!--left end-->


    <!--  sidebar  -->

    <div class="col-md-4 mainright">
            <div class="row">
                <div class="col-sm-1 col-md-2 mobmid">
                    <span class="secicon fa fa-magic"></span>
                </div><!--icon end-->

                <div class="col-sm-11 col-md-10">
                    <h3 class="mobmid">공약 신뢰도 </h3>

                    <p>진행 완료</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                            <span class="sr-only">65% Complete (success)</span>
                        </div>
                    </div><!--skill end-->


                    <p>진행 중</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                            <span class="sr-only">85% Complete</span>
                        </div>
                    </div><!--skill end-->

                    <p>미시행 공약</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60% Complete (warning)</span>
                        </div>
                    </div><!--skill end-->

                    <p>실패?</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                            <span class="sr-only">30% Complete (danger)</span>
                        </div>
                    </div><!--skill end-->
                </div><!--info end-->
            </div><!--tech skills end-->

            <hr>

            <div class="row mobmid">
                <div class="col-sm-1 col-md-2">
                    <span class="secicon fa fa-trophy"></span>
                </div><!--icon end-->

                <div class="col-sm-11 col-md-10 ">
                    <h3>Awards</h3>

                    <div class="award">
                        <h4>Best Designer 2012</h4>
                        <p class="sub"><a href="">Life View Media Ltd.</a></p>
                        <p>Studying all aspect of Graphic Design Including Advertising Design, Branding, Copy Exhibition Design, Ilustration.</p>
                    </div>
                    <!--1st award end-->

                    <div class="award">
                        <h4>Best Designer 2011</h4>
                        <p class="sub"><a href="">Alexa Design Solution</a></p>
                        <p>Studying all aspect of Graphic Design Including Advertising Design, Branding, Copy Exhibition Design, Ilustration, Information Design, Packaging Design and Website Design</p>
                    </div><!--1st award end-->
                </div><!--awards end-->

            </div>

            <hr>

            <div class="row ">
                <div class="col-sm-1 col-md-2 mobmid">
                    <span class="secicon fa fa-quote-left"></span>
                </div><!--icon end-->

                <div class="col-sm-11 col-md-10 testimonials">
                    <h3 class="mobmid">Testimonials </h3>

                    <div class="row">
                        <blockquote>
                            <p>Sit amet, consectetur adipisicing elit. Fuga quidem ipsum maiores necessitatibus sint, porro temporibus labore, amet officia unde libero eligendi? Porro dolorum itaque, facere harum amet, rem libero.</p>
                        </blockquote>

                    </div><!--1st testimonial end-->



                </div><!--testimonials end-->
            </div><!--tech skills end-->
        </div><!--right end-->
    </div><!--container end-->

{% endblock %}